################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dotnetcommunity/packages/Microsoft.Net.Compilers.1.0.0/tools
/Dotnetcommunity/.vs/config
